node-red/data/flows.json
[
    {
        "id": "33f3721dac660206",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a5c50db4991b64e4",
        "type": "tab",
        "label": "Cadastrar E-mail",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bc9db508529adc81",
        "type": "tab",
        "label": "Verificar Histórico",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4126901460837cb3",
        "type": "tab",
        "label": "Cadastrar Endereço",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e971abe37025debd",
        "type": "tab",
        "label": "Monitorar",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3e16d757a05b0223",
        "type": "ui-base",
        "name": "Projeto TI Feevale",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "fixed",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "eb4970480a1ccc73",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "a3b48bd9c1c28d04",
        "type": "ui-page",
        "name": "Cadastrar E-mail",
        "ui": "3e16d757a05b0223",
        "path": "/cadastro-e-mail",
        "icon": "home",
        "layout": "notebook",
        "theme": "eb4970480a1ccc73",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "4d94ff0d991be81e",
        "type": "ui-group",
        "name": "Table 1",
        "page": "a3b48bd9c1c28d04",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "89a7be5ef6a0fbc3",
        "type": "ui-page",
        "name": "Home",
        "ui": "3e16d757a05b0223",
        "path": "/home",
        "icon": "home",
        "layout": "notebook",
        "theme": "eb4970480a1ccc73",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "3ab139b36347780d",
        "type": "ui-group",
        "name": "Table 1",
        "page": "89a7be5ef6a0fbc3",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "fc6f40eaa57f0c36",
        "type": "ui-page",
        "name": "Cadastrar Endereço",
        "ui": "3e16d757a05b0223",
        "path": "/cadastrar-endereco",
        "icon": "home",
        "layout": "notebook",
        "theme": "eb4970480a1ccc73",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "9ac18d1de9a3a39a",
        "type": "ui-group",
        "name": "Table 1",
        "page": "fc6f40eaa57f0c36",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "95612b96a62e298f",
        "type": "ui-page",
        "name": "Monitorar",
        "ui": "3e16d757a05b0223",
        "path": "/monitorar",
        "icon": "home",
        "layout": "notebook",
        "theme": "eb4970480a1ccc73",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "9ae59be7430e2fdd",
        "type": "ui-group",
        "name": "Table 1",
        "page": "95612b96a62e298f",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b79fa7d54fc52f35",
        "type": "ui-page",
        "name": "Verificar Histórico",
        "ui": "3e16d757a05b0223",
        "path": "/verificar-historico",
        "icon": "home",
        "layout": "notebook",
        "theme": "eb4970480a1ccc73",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 5,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "a73154d6576e1781",
        "type": "ui-group",
        "name": "Table 1",
        "page": "b79fa7d54fc52f35",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "71cbfc5b3f6590c7",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "172.27.155.6",
        "hostFieldType": "str",
        "port": "8081",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "fuleco",
        "passwordFieldType": "str"
    },
    {
        "id": "83603bedfabb9380",
        "type": "ui-button",
        "z": "33f3721dac660206",
        "group": "3ab139b36347780d",
        "name": "",
        "label": "MONITORAR",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "d847cb6b9cdf4122"
            ]
        ]
    },
    {
        "id": "05af3452a2f93d9f",
        "type": "ui-button",
        "z": "33f3721dac660206",
        "group": "3ab139b36347780d",
        "name": "",
        "label": "CADASTRAR ENDEREÇO",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "2",
        "payloadType": "num",
        "topic": "2",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 300,
        "y": 160,
        "wires": [
            [
                "d847cb6b9cdf4122"
            ]
        ]
    },
    {
        "id": "c198557ca7fd404e",
        "type": "ui-button",
        "z": "33f3721dac660206",
        "group": "3ab139b36347780d",
        "name": "",
        "label": "CADASTRAR E-MAIL",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "3",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 320,
        "y": 200,
        "wires": [
            [
                "d847cb6b9cdf4122"
            ]
        ]
    },
    {
        "id": "9a4bb5e0e418bdae",
        "type": "ui-button",
        "z": "33f3721dac660206",
        "group": "3ab139b36347780d",
        "name": "",
        "label": "VERIFICAR HISTÓRICO",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "4",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "d847cb6b9cdf4122"
            ]
        ]
    },
    {
        "id": "d847cb6b9cdf4122",
        "type": "ui-control",
        "z": "33f3721dac660206",
        "name": "",
        "ui": "3e16d757a05b0223",
        "events": "all",
        "x": 540,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "a6edf1c05c5267ef",
        "type": "ui-form",
        "z": "a5c50db4991b64e4",
        "name": "Cadastro Contato",
        "group": "4d94ff0d991be81e",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nome",
                "key": "0",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "E-mail",
                "key": "1",
                "type": "email",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "0": "",
            "1": ""
        },
        "payload": "",
        "submit": "Cadastrar",
        "cancel": "Limpar",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [],
        "x": 390,
        "y": 180,
        "wires": [
            [
                "96d50c362bf474bb"
            ]
        ]
    },
    {
        "id": "3d9599f06e7d9058",
        "type": "ui-notification",
        "z": "a5c50db4991b64e4",
        "ui": "3e16d757a05b0223",
        "position": "top center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "Erro",
        "x": 750,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "b241fc86c2f5f4b2",
        "type": "ui-notification",
        "z": "a5c50db4991b64e4",
        "ui": "3e16d757a05b0223",
        "position": "top center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": false,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "Retorno",
        "x": 960,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "96d50c362bf474bb",
        "type": "function",
        "z": "a5c50db4991b64e4",
        "name": "Test RegEx",
        "func": "function checkName(name){\n    const regexNome = /^[a-zA-Z\\u00C0-\\u017F\\s'-]+$/;\n    return regexNome.test(name);\n}\n\nfunction checkEmail(email){\n    const regexEmail = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n    return regexEmail.test(email);\n}\n\nnode.warn(checkName(msg.payload[0]));\nnode.warn(checkEmail(msg.payload[1]));\n\nif (!checkName(msg.payload[0]) || !checkEmail(msg.payload[1])){\n    msg = {\n        payload: 'Nome ou E-mail inválido. Tente novamente'\n    }\n    return [msg, null]\n}\nelse{\n    msg = {\n        name: msg.payload[0],\n        email: msg.payload[1],\n    }\n    return [null, msg]\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 180,
        "wires": [
            [
                "3d9599f06e7d9058"
            ],
            [
                "30ba6b8d890cebb7"
            ]
        ]
    },
    {
        "id": "ef00eb50d821b980",
        "type": "postgresql",
        "z": "a5c50db4991b64e4",
        "name": "",
        "query": "",
        "postgreSQLConfig": "71cbfc5b3f6590c7",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 630,
        "y": 240,
        "wires": [
            [
                "1f4f04b2caae92cf"
            ]
        ]
    },
    {
        "id": "30ba6b8d890cebb7",
        "type": "template",
        "z": "a5c50db4991b64e4",
        "name": "Query",
        "field": "query",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "SELECT inserir_contato_retorno('{{name}}', '{{email}}');",
        "output": "str",
        "x": 470,
        "y": 240,
        "wires": [
            [
                "ef00eb50d821b980"
            ]
        ]
    },
    {
        "id": "1f4f04b2caae92cf",
        "type": "function",
        "z": "a5c50db4991b64e4",
        "name": "Change",
        "func": "msg.payload = msg.payload[0].inserir_contato_retorno\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 240,
        "wires": [
            [
                "b241fc86c2f5f4b2"
            ]
        ]
    },
    {
        "id": "ce34d32fd51e6974",
        "type": "ui-table",
        "z": "bc9db508529adc81",
        "group": "a73154d6576e1781",
        "name": "",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "lg",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "x": 530,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "aac5d9026879e6c6",
        "type": "ui-form",
        "z": "4126901460837cb3",
        "name": "Cadastro Endereço",
        "group": "9ac18d1de9a3a39a",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nome do Endereço",
                "key": "0",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "IP",
                "key": "1",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Serviço",
                "key": "2",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Porta",
                "key": "3",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "DNS",
                "key": "4",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "0": "",
            "1": "",
            "2": "",
            "3": "",
            "4": ""
        },
        "payload": "",
        "submit": "Cadastrar",
        "cancel": "Limpar",
        "resetOnSubmit": false,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [
            {
                "dropdown": "",
                "value": "0",
                "label": "Interno"
            },
            {
                "dropdown": "",
                "value": "1",
                "label": "Externo"
            }
        ],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "a19fed57451e3c4b",
                "85c6c573803cd3d9"
            ]
        ]
    },
    {
        "id": "05933e1dff9280f7",
        "type": "ui-notification",
        "z": "4126901460837cb3",
        "ui": "3e16d757a05b0223",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "Erro",
        "x": 850,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "a19fed57451e3c4b",
        "type": "function",
        "z": "4126901460837cb3",
        "name": "Test RegEx",
        "func": "function checkName(nome){\n    const regexName = /^[a-zA-Z\\u00C0-\\u017F\\s'-]+$/;\n    return regexName.test(nome);\n}\n\nfunction checkIP(ip){\n    const regexIPv4 = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;\n    return regexIPv4.test(ip);\n}\n\nfunction checkService(servico){\n    if (servico === null || servico === \"\") {\n        return true;\n    }\n    const regexService = /^[a-zA-Z\\u00C0-\\u017F\\s'-]+$/;\n    return regexService.test(servico);\n}\n\nfunction checkPort(porta) {\n    if (porta === null || porta === \"\") {\n        return true;\n    }\n    const regex = /^\\d+$/; \n    if (!regex.test(porta)) {\n        return false;\n    }\n    const numeroPorta = parseInt(porta, 10);\n    return numeroPorta >= 0 && numeroPorta <= 65535;\n}\n\nfunction checkDNS(dns) {\n    const regexDNS = /^$|^(?!-)[A-Za-z0-9-]{1,63}(?<!-)(\\.[A-Za-z0-9-]{1,63}(?<!-))*(\\.[A-Za-z]{2,6})$/;\n    return regexDNS.test(dns);\n}\n\nnode.warn(checkName(msg.payload[0]));\nnode.warn(checkIP(msg.payload[1]));\nnode.warn(checkService(msg.payload[2]));\nnode.warn(checkPort(msg.payload[3]));\nnode.warn(checkDNS(msg.payload[4]));\n\nif (!checkName(msg.payload[0]) || !checkIP(msg.payload[1]) || !checkService(msg.payload[2]) || !checkPort(msg.payload[3]) || !checkDNS(msg.payload[4])){\n    msg = {\n        payload: 'Informações inválidas. Tente novamente'\n    }\n    return [msg, null]\n}\nelse{\n    var porta = msg.payload[3] > 0 ?\n        msg.payload[3] : null\n    msg = {\n        nome: msg.payload[0],\n        ip: msg.payload[1],\n        servico: msg.payload[2],\n        porta: porta,\n        dns: msg.payload[4]\n    }\n    return [null, msg]\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 180,
        "wires": [
            [
                "05933e1dff9280f7",
                "c0f5f3e9ba2cf569"
            ],
            [
                "eb5ce3d75b8a68eb"
            ]
        ]
    },
    {
        "id": "9743c23724e30c0e",
        "type": "ui-notification",
        "z": "4126901460837cb3",
        "ui": "3e16d757a05b0223",
        "position": "top center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": false,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "Retorno",
        "x": 880,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "3cdaad3527f0b458",
        "type": "postgresql",
        "z": "4126901460837cb3",
        "name": "",
        "query": "",
        "postgreSQLConfig": "71cbfc5b3f6590c7",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 550,
        "y": 240,
        "wires": [
            [
                "90702118c58ae16c"
            ]
        ]
    },
    {
        "id": "eb5ce3d75b8a68eb",
        "type": "template",
        "z": "4126901460837cb3",
        "name": "Query",
        "field": "query",
        "fieldType": "msg",
        "format": "sql",
        "syntax": "mustache",
        "template": "SELECT inserir_endereco_retorno('{{nome}}', '{{ip}}'::inet, '{{servico}}', '{{porta}}', '{{dns}}');",
        "output": "str",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "3cdaad3527f0b458",
                "aad0cc287d8d8608"
            ]
        ]
    },
    {
        "id": "90702118c58ae16c",
        "type": "function",
        "z": "4126901460837cb3",
        "name": "Change",
        "func": "msg.payload = msg.payload[0].inserir_endereco_retorno\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 240,
        "wires": [
            [
                "9743c23724e30c0e"
            ]
        ]
    },
    {
        "id": "85c6c573803cd3d9",
        "type": "debug",
        "z": "4126901460837cb3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 120,
        "wires": []
    },
    {
        "id": "c0f5f3e9ba2cf569",
        "type": "debug",
        "z": "4126901460837cb3",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 120,
        "wires": []
    },
    {
        "id": "aad0cc287d8d8608",
        "type": "debug",
        "z": "4126901460837cb3",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 440,
        "wires": []
    }
]