node-red/data/flows.json
[
    {
        "id": "33f3721dac660206",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a5c50db4991b64e4",
        "type": "tab",
        "label": "Cadastrar E-mail",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bc9db508529adc81",
        "type": "tab",
        "label": "Verificar Histórico",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4126901460837cb3",
        "type": "tab",
        "label": "Cadastrar Endereço",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3e16d757a05b0223",
        "type": "ui-base",
        "name": "Projeto TI Feevale",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "fixed",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "eb4970480a1ccc73",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "a3b48bd9c1c28d04",
        "type": "ui-page",
        "name": "Cadastrar E-mail",
        "ui": "3e16d757a05b0223",
        "path": "/cadastro-e-mail",
        "icon": "home",
        "layout": "notebook",
        "theme": "eb4970480a1ccc73",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "4d94ff0d991be81e",
        "type": "ui-group",
        "name": "Table 1",
        "page": "a3b48bd9c1c28d04",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "fe73c124c9be6290",
        "type": "ui-spacer",
        "group": "4d94ff0d991be81e",
        "name": "spacer",
        "tooltip": "",
        "order": 2,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "89a7be5ef6a0fbc3",
        "type": "ui-page",
        "name": "Home",
        "ui": "3e16d757a05b0223",
        "path": "/home",
        "icon": "home",
        "layout": "notebook",
        "theme": "eb4970480a1ccc73",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "3ab139b36347780d",
        "type": "ui-group",
        "name": "Table 1",
        "page": "89a7be5ef6a0fbc3",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "fc6f40eaa57f0c36",
        "type": "ui-page",
        "name": "Cadastrar Endereço",
        "ui": "3e16d757a05b0223",
        "path": "/cadastrar-endereco",
        "icon": "home",
        "layout": "notebook",
        "theme": "eb4970480a1ccc73",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "9ac18d1de9a3a39a",
        "type": "ui-group",
        "name": "Table 1",
        "page": "fc6f40eaa57f0c36",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "95612b96a62e298f",
        "type": "ui-page",
        "name": "Monitorar",
        "ui": "3e16d757a05b0223",
        "path": "/monitorar",
        "icon": "home",
        "layout": "notebook",
        "theme": "eb4970480a1ccc73",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "9ae59be7430e2fdd",
        "type": "ui-group",
        "name": "Table 1",
        "page": "95612b96a62e298f",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b79fa7d54fc52f35",
        "type": "ui-page",
        "name": "Verificar Histórico",
        "ui": "3e16d757a05b0223",
        "path": "/verificar-historico",
        "icon": "home",
        "layout": "notebook",
        "theme": "eb4970480a1ccc73",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 5,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "a73154d6576e1781",
        "type": "ui-group",
        "name": "Table 1",
        "page": "b79fa7d54fc52f35",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "83603bedfabb9380",
        "type": "ui-button",
        "z": "33f3721dac660206",
        "group": "3ab139b36347780d",
        "name": "",
        "label": "MONITORAR",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 540,
        "y": 260,
        "wires": [
            [
                "d847cb6b9cdf4122"
            ]
        ]
    },
    {
        "id": "05af3452a2f93d9f",
        "type": "ui-button",
        "z": "33f3721dac660206",
        "group": "3ab139b36347780d",
        "name": "",
        "label": "CADASTRAR ENDEREÇO",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "2",
        "payloadType": "num",
        "topic": "2",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 500,
        "y": 300,
        "wires": [
            [
                "d847cb6b9cdf4122"
            ]
        ]
    },
    {
        "id": "c198557ca7fd404e",
        "type": "ui-button",
        "z": "33f3721dac660206",
        "group": "3ab139b36347780d",
        "name": "",
        "label": "CADASTRAR E-MAIL",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "3",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 520,
        "y": 340,
        "wires": [
            [
                "d847cb6b9cdf4122"
            ]
        ]
    },
    {
        "id": "9a4bb5e0e418bdae",
        "type": "ui-button",
        "z": "33f3721dac660206",
        "group": "3ab139b36347780d",
        "name": "",
        "label": "VERIFICAR HISTÓRICO",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "4",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 510,
        "y": 380,
        "wires": [
            [
                "d847cb6b9cdf4122"
            ]
        ]
    },
    {
        "id": "d847cb6b9cdf4122",
        "type": "ui-control",
        "z": "33f3721dac660206",
        "name": "",
        "ui": "3e16d757a05b0223",
        "events": "all",
        "x": 740,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a6edf1c05c5267ef",
        "type": "ui-form",
        "z": "a5c50db4991b64e4",
        "name": "Cadastro Contato",
        "group": "4d94ff0d991be81e",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nome",
                "key": "0",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "E-mail",
                "key": "1",
                "type": "email",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "0": "",
            "1": ""
        },
        "payload": "",
        "submit": "Cadastrar",
        "cancel": "Limpar",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "d66ab78c073fae01"
            ]
        ]
    },
    {
        "id": "d66ab78c073fae01",
        "type": "debug",
        "z": "a5c50db4991b64e4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "3d9599f06e7d9058",
        "type": "ui-notification",
        "z": "a5c50db4991b64e4",
        "ui": "3e16d757a05b0223",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "Erro",
        "x": 710,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "b241fc86c2f5f4b2",
        "type": "ui-notification",
        "z": "a5c50db4991b64e4",
        "ui": "3e16d757a05b0223",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "Confirmação",
        "x": 730,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ce34d32fd51e6974",
        "type": "ui-table",
        "z": "bc9db508529adc81",
        "group": "a73154d6576e1781",
        "name": "",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "lg",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "x": 530,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "aac5d9026879e6c6",
        "type": "ui-form",
        "z": "4126901460837cb3",
        "name": "Cadastro Endereço",
        "group": "9ac18d1de9a3a39a",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nome do Endereço",
                "key": "0",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "IP",
                "key": "1",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Porta",
                "key": "2",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "DNS",
                "key": "3",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Rede",
                "key": "4",
                "type": "dropdown",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "0": "",
            "1": "",
            "2": "",
            "3": "",
            "4": ""
        },
        "payload": "",
        "submit": "Cadastrar",
        "cancel": "Limpar",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [
            {
                "dropdown": "4",
                "value": "0",
                "label": "Interno"
            },
            {
                "dropdown": "4",
                "value": "1",
                "label": "Externo"
            }
        ],
        "x": 610,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "05933e1dff9280f7",
        "type": "ui-notification",
        "z": "4126901460837cb3",
        "ui": "3e16d757a05b0223",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "Erro",
        "x": 790,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "4084fe21ee6edb60",
        "type": "ui-notification",
        "z": "4126901460837cb3",
        "ui": "3e16d757a05b0223",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "Confirmação",
        "x": 810,
        "y": 280,
        "wires": [
            []
        ]
    }
]